<p id="notice"><%= notice %></p>

<h1>Rooms</h1>

<div class="js-online-users text-success">Online: <%= render partial: 'users/user', collection: User.online, as: :user %></div>

<ul class="mt-4 list-unstyled">
  <%= render @rooms %>
</ul>

<div class="mt-2">
  <%= render 'rooms/form', room: @room %>
</div> 
